/* ============== HEADLINER STYLING ==================== */
/* ---- large headliner card ----- */
#topStory {
    width: 580px;
}

.lgFont {
    color: black;
    margin: 3px;
    font-family: 'Old Standard TT', serif;
}

.subTitle {
    color: #b3b3b3;
}


#authorImg {
    width: 50px;
    vertical-align: middle;
}

#authorTitle {
    display: inline-block;
    
}

#lgAuthorSec {
    align-items: center;
}

/* ----- small headliner card ------- */
.smlHeadSec {
    display: flex;
    align-items:center;
    width: 100%;
    margin: 10px 0px;
}

.smlInfo {
    margin-left: 5px;
}

.smlStory {
    width: 125px;
}

.smlFont {
    margin: 0px 0px 0px 5px;
}

/* ==================== CSS GRID OF HEADLINE CONTENT ========================= */
.container {
    display: grid;
    grid-template-columns: 200px 700px 500px; 
    grid-template-rows: 100px 100px 100px 100px;  
    grid-gap: 5px;
}

#headlineTitle {
    grid-column: 2;
}

.lgHeadliner {
    grid-column: 2;
    grid-row: 2/ span 4;
}

.smlHeadliner {
    grid-column: 3;
}

